<div class="pages-title justify-content-between">
  <button id="btn-bookings" class="btn-booking-tabs">My bookings</button>
  <button id="btn-requests" class="btn-booking-tabs">Bookings requested</button>
</div>

  <div id="my-bookings">
    <div class="pages-title">
      <h1>My bookings</h1>
    </div>

    <% if @bookings.empty? %>
      <div class="pages-title">
      <p><%= "You have no booking yet." %></p>
      </div>
    <% else %>
      <div class="container bookings-grid">
          <% @bookings.each do |booking| %>
            <%= link_to booking_path(booking) do %>
              <div class="card-bookings">
                 <% if booking.animal.photo.attached? %>
                  <%= cl_image_tag booking.animal.photo.key, height: 300, width: 400, crop: :fill %>
                <% end %>
                <% if booking.status == "Accepted" %>
                  <div class="btn-accepted">
                    <%= booking.status %>
                  </div>
                <% elsif booking.status == "Declined" %>
                  <div class="btn-declined">
                    <%= booking.status %>
                  </div>
                <% else %>
                  <div class="btn-pending">
                    <%= booking.status %>
                  </div>
                <% end %>
                <div class="card-bookings-infos">
                  <div class="card-bookings-title">
                    <div>
                      <h1><%= booking.animal.name %> - <%= booking.animal.species %></h1>
                    </div>
                    <div>
                      <h4><b><%= booking.start_date %> - <%= booking.end_date %></b></h4>
                    </div>
                  </div>
                  <div class= card-bookings-description>
                    <p><%= booking.animal.description %></p>
                  </div>
                  <div class= card-bookings-more-price>
                    <div>
                      <h1></h1>
                    </div>
                    <div>
                    <h3><b><%= "Price: #{booking.animal.price_per_day}€" %></b></h3>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    <% end %>
  </div>

  <div id="bookings-requests">
    <div class="pages-title">
      <h1>Bookings requested</h1>
    </div>


        <% if @my_bookings.empty? %>
          <div class="pages-title">
          <p><%= "No one booked one of your animals yet." %></p>
          </div>
        <% else %>
          <div class="container bookings-grid">
            <% @my_bookings.each do |booking| %>
              <div class="card-bookings">
                 <% if booking.animal.photo.attached? %>
                  <%= cl_image_tag booking.animal.photo.key, height: 300, width: 400, crop: :fill %>
                <% end %>
                    <% if booking.status == "Accepted" %>
                      <div class="btn-accepted">
                        <%= booking.status %>
                      </div>
                    <% elsif booking.status == "Declined" %>
                      <div class="btn-declined">
                        <%= booking.status %>
                      </div>
                    <% else %>
                      <div class="btn-pending">
                        <%= booking.status %>
                      </div>
                    <% end %>
                    <div class="card-bookings-infos">
                      <div class="card-bookings-title">
                        <div>
                          <h1><%= booking.animal.name %> - <%= booking.animal.species %></h1>
                        </div>
                        <div>
                          <h4><b><%= booking.start_date %> - <%= booking.end_date %></b></h4>
                        </div>
                      </div>
                      <div class= card-bookings-description>
                        <p><%= booking.animal.description %></p>
                      </div>
                      <div class= card-bookings-more-price>
                        <div>
                          <% if booking.status == "Pending" %>
                            <%= link_to "Accept", booking_path(booking, status: "Accepted"), method: :patch, class: "btn-ghost-green" %>
                            <%= link_to "Decline", booking_path(booking, status: "Declined"), method: :patch, class: "btn-ghost-red" %>
                          <% end %>
                        </div>
                        <div>
                        <h3><b><%= "Price: #{booking.animal.price_per_day}€" %></b></h3>
                        </div>
                      </div>
                    </div>
                  </div>

            <% end %>
          </div>
        <% end %>
      </div>
