<div class="">
  <h1>Edit an animal</h1>
</div>


<div class="">
  <%= simple_form_for(@animal) do |f| %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :species %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :age %>
    <%= f.input :price_per_day %>
    <%= f.input :photo, as: :file %>
    <br>
    <%= f.submit%>
  <% end %>
</div>
