<div class="container bookings-grid">
  <div class="card-bookings">
    <% if @animal.photo.attached? %>
      <%= cl_image_tag @animal.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <div class="card-bookings-infos">
      <div class="card-bookings-title">
        <h1><%= "#{@animal.name} - #{@animal.species}" %></h1>
        <h3><%= "#{@animal.price_per_day} €" %></h3>
      </div>
      <div class="card-bookings-description">
        <p><i><%= @animal.description %></i></p>
      </div>
      <div class="card-bookings-elements">
      <div class="card-bookings-facts">
        <ul>
          <li> <%= "Category #{@animal.category}" %> </li>
          <li> <%= "Size: #{@animal.size}" %> </li>
          <li> <%= "Age #{@animal.age}" %> </li>
          <li> <%= "Sexe: #{@animal.sexe}" %> </li>
        </ul>
      </div>
      <div class="card-bookings-owner">
        <ul>
          <li> <%= "Owner: #{@animal.user}" %> </li>
          <li> <%= "#{@animal.address}" %> </li>
          <li> <%= "Favorite Game: #{@animal.favorite_game}" %> </li>
          <li> <%= "Favorite Food: #{@animal.favorite_food}" %> </li>
        </ul>
      </div>
      </div>
      <div class="card-bookings-dos-donts">
        <ul>
        <li> <%= "Do's: #{@animal.dos}" %> </li>
        <li> <%= "Dont's: #{@animal.donts}"%> </li>
        </ul>
      </div>
      <div class= card-bookings-more-price>
        <% if current_user == @animal.user %>
          <div>
            <h1></h1>
          </div>
          <div class="btn-ghost edit-animal">
            <%= link_to "Edit animal", edit_animal_path(@animal) %>
          </div>
          <div class="btn-ghost edit-animal">
            <%= link_to "Delete animal",
                         animal_path(@animal),
                         method: :delete,
                         data: { confirm: "Are you sure you don't want to rent your pet ?"}  %>
          </div>
        <% else %>
          <div>
            <h1></h1>
          </div>
          <div class=btn-ghost>
            <%= link_to "Book this pet", new_animal_booking_path(@animal) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="map" style="width: 100%;height: 500px;"
       data-markers="<%= @marker.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
